<!-- Music Grid -->
<section class="bg-light page-section" id="{{ site.data.sitetext[site.locale].how-to-groove.section | default: "how-to-succeed" }}">
  <div class="container">
    <div class="row">
      <div class="col-lg-12 text-center">
        <h2 class="section-heading text-uppercase">{{ site.data.sitetext[site.locale].how-to-succeed.title | markdownify | default: "Portfolio" }}</h2>
        <h3 class="section-subheading text-muted">{{ site.data.sitetext[site.locale].how-to-succeed.text | markdownify }}</h3>
      </div>
    </div>
    <div class="row">
	     <iframe allow="autoplay *; encrypted-media *;" frameborder="0" height="450" style="width:100%;max-width:660px;overflow:hidden;background:transparent;" sandbox="allow-forms allow-popups allow-same-origin allow-scripts allow-storage-access-by-user-activation allow-top-navigation-by-user-activation" src="https://embed.music.apple.com/us/playlist/big-party/pl.u-5j7d5uX9JkYY"></iframe>
    </div>
  </div>
</section>
